In [2]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline
import seaborn as sns

from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

from sklearn.model_selection import GridSearchCV


from sklearn.metrics import mean_squared_error, make_scorer
from sklearn.metrics import r2_score

In [3]:
final17 = pd.read_csv("Data/final17_dataset.csv")

In [4]:
print(final17.columns)

Index(['LGA_CODE', 'LGA_NAME', 's_mean_nonstrata', 's_mean_strata',
       's_median_nonstrata', 's_median_strata', 's_mean_sales',
       's_median_sales', 'r_one_br', 'r_two_br',
       ...
       'ntl17_count', 'ntl17_min', 'ntl17_mean', 'ntl17_max', 'ntl17_sum',
       'ntl19_count', 'ntl19_min', 'ntl19_mean', 'ntl19_max', 'ntl19_sum'],
      dtype='object', length=171)

In [5]:
nationality_col = ['P_Afghanistan_Tot','P_Australia_Tot','P_Bangladesh_Tot','P_Bosnia_Herzegov_Tot','P_Cambodia_Tot','P_Canada_Tot','P_Chile_Tot','P_China_Tot','P_Croatia_Tot','P_Egypt_Tot','P_England_Tot','P_Fiji_Tot','P_France_Tot','P_Germany_Tot','P_Greece_Tot','P_Hong_Kong_Tot',
 'P_India_Tot','P_Indonesia_Tot','P_Iran_Tot','P_Iraq_Tot','P_Ireland_Tot','P_Italy_Tot','P_Japan_Tot','P_Korea_South_Tot','P_Lebanon_Tot','P_Malaysia_Tot','P_Malta_Tot','P_Mauritius_Tot','P_Myanmar_Tot','P_Nepal_Tot','P_Netherlands_Tot','P_New_Zealand_Tot',
 'P_Nthern_Ireland_Tot','P_Pakistan_Tot','P_PNG_Tot','P_Philippines_Tot','P_Poland_Tot','P_Scotland_Tot','P_Singapore_Tot','P_South_Africa_Tot','P_SE_Europe_nfd_Tot','P_Sri_Lanka_Tot','P_Taiwan_Tot','P_Thailand_Tot','P_FYROM_Tot',
 'P_Turkey_Tot','P_USA_Tot','P_Vietnam_Tot','P_Wales_Tot','P_Zimbabwe_Tot','P_Elsewhere_Tot']

col_rename = {'Age_below_15_yr_perc':'pct_age_14below', 'Age_15_64_yr_perc' : 'pct_age_15_64',
              'Age_over_65_yr_perc' : 'pct_age_65above', 'BP_Aus_Perc' : 'pct_birthplace_au',
              'BP_Non_Aus_Perc' : 'pct_birthplace_non_au', 'SE_Yr10_above_Perc' : 'pct_educ_yr10above',
              'SE_Yr9_below_Perc' : 'pct_educ_yr9below', 'MS_Married_Perc' : 'pct_married',
              'MS_Single_Perc' : 'pct_single', 'Percent_Unem_loyment_P' : 'unemployment_rate',
              'Percnt_LabForc_prticipation_P' : 'lfpr', 'Percnt_Employment_to_populn_P' : 'employment_rate', 
              'Median_age_persons' : 'median_age', 'Median_tot_prsnl_inc_weekly' : 'median_weekly_pincome',
              'Median_tot_fam_inc_weekly' : 'median_weekly_fincome',
              'Median_tot_hhd_inc_weekly' : 'median_weekly_hincome', 'Average_household_size' : 'ave_hhsize'}

final17_c = final17.fillna(0)
final17_c = final17_c.drop(nationality_col, axis=1)
final17_c = final17_c.rename(columns = col_rename)

final17_c['ntl17_mean_per_land_area'] = final17_c.ntl17_sum / final17_c.land_area
final17_c['bstop_per_land_area'] = final17_c.bus_stop / final17_c.land_area
final17_c['tstation_per_land_area'] = final17_c.train_station / final17_c.land_area
final17_c['transpo_per_land_area'] = final17_c.all_transpo / final17_c.land_area

final17_c = final17_c[final17_c.s_median_sales>0]
print("shape of final df: ", final17_c.shape)

shape of final df:  (113, 124)

In [6]:
sales17_col = ['s_mean_nonstrata','s_mean_strata','s_median_nonstrata','s_median_strata','s_mean_sales','s_median_sales']

sales17=final17_c[sales17_col]
sales17

,s_mean_nonstrata,s_mean_strata,s_median_nonstrata,s_median_strata,s_mean_sales,s_median_sales
0,350.72904,197.23513,320.00,206.000,320.42552,290.00
1,372.99474,0.00000,352.50,0.000,361.56796,345.00
2,695.14002,463.46875,639.50,424.000,616.27321,587.50
4,436.94776,293.44444,417.00,280.000,426.22967,405.00
5,480.04897,292.83431,460.00,285.000,431.58223,420.00
6,561.55357,0.00000,547.50,0.000,556.78947,545.00
7,249.65000,0.00000,225.00,0.000,241.62121,222.50
8,795.08317,550.45910,780.00,550.000,750.62768,737.00
9,185.63043,0.00000,165.00,0.000,185.63043,165.00
10,324.76562,0.00000,271.75,0.000,324.76562,271.75
11,710.50971,546.68333,685.00,510.000,702.10836,680.00
15,109.88418,0.00000,87.50,0.000,109.88418,87.50
16,8648.04734,848.74691,2460.00,852.000,4199.15062,1045.00
17,1091.29730,838.82222,940.00,735.000,1018.46795,842.50
18,372.15322,0.00000,345.00,0.000,372.15322,345.00
19,784.61334,529.30882,750.00,520.000,773.54146,745.00
20,666.80582,484.79168,645.00,485.000,624.46107,620.00
21,2230.70880,1017.02949,2155.00,930.000,1430.40800,1250.00
22,1105.96576,612.36991,1051.00,590.400,892.57362,863.00
24,715.96414,521.10668,660.00,485.000,678.16296,635.00
25,398.55139,286.34545,356.00,285.000,387.01620,349.00
26,387.56543,408.55625,370.00,391.500,390.48082,372.50
27,182.04762,0.00000,175.00,0.000,182.04762,175.00
28,546.89154,356.17824,512.25,342.500,490.92133,459.00
29,223.25882,0.00000,200.00,0.000,223.25882,200.00
30,128.64286,0.00000,118.00,0.000,128.64286,118.00
31,268.97614,0.00000,244.00,0.000,268.97614,244.00
32,225.25000,0.00000,214.00,0.000,225.25000,214.00
33,979.63626,562.01750,912.50,560.000,777.61983,730.00
34,344.15301,310.70833,333.00,337.500,342.39276,333.00
...,...,...,...,...,...,...
92,626.49777,327.70337,620.00,335.000,527.27127,508.75
93,2459.81618,1051.17580,2295.00,972.000,1592.71260,1290.00
94,307.71728,309.03333,292.00,290.000,307.92292,291.50
95,1889.12275,783.27084,1830.00,736.000,1205.04738,910.00
96,700.32386,507.74000,672.50,507.500,664.66019,635.00
97,586.67697,408.10465,535.00,370.000,572.94064,525.00
98,481.82795,0.00000,447.00,0.000,462.31187,437.00
99,357.05328,295.00000,290.00,310.000,340.01048,290.00
100,246.90984,0.00000,235.00,0.000,246.79839,237.50
101,2586.02222,682.29967,2420.00,680.000,1192.22536,720.00
102,1468.80414,875.85725,1350.00,820.000,1226.84750,1165.00
103,1890.66106,1020.53761,1780.00,935.000,1139.81761,1009.00
104,356.40033,296.07692,340.00,244.000,353.32502,333.00
105,243.00000,0.00000,212.00,0.000,243.00000,212.00
106,263.88889,0.00000,252.50,0.000,263.88889,252.50
107,1474.85386,830.81573,1365.00,855.000,1328.12517,1260.00
108,653.24866,415.45416,621.25,403.000,554.32615,530.00
109,332.90813,0.00000,312.50,0.000,332.90813,312.50
110,376.44444,0.00000,331.25,0.000,376.44444,331.25
111,375.41176,0.00000,320.00,0.000,375.41176,320.00
112,376.11009,231.11905,357.00,247.000,365.15753,345.00
116,219.70588,0.00000,200.00,0.000,219.70588,200.00
117,3135.60396,1235.74564,2900.00,1152.500,1779.33116,1360.00
119,230.15294,0.00000,212.00,0.000,228.09143,210.00
120,2613.39276,1069.48095,2439.00,998.368,1805.13799,1580.00
121,1020.11243,680.56897,870.00,511.000,986.62005,832.50
122,883.56434,0.00000,766.25,0.000,870.19774,755.00
123,824.16162,573.67852,785.00,560.000,739.83750,680.00
124,4169.68500,1822.74365,3625.00,1500.000,2758.40133,2225.00
125,614.15102,0.00000,542.50,0.000,609.59669,541.25

In [7]:
lga_id = ['LGA_CODE', 'LGA_NAME']

X_ntl = ['land_area', 'ntl17_mean', 'ntl17_mean_per_land_area']
X_transpo_bus = ['bus_stop', 'bstop_per_land_area']
X_transpo_train = ['train_station', 'tstation_per_land_area']
X_transpo_all = ['all_transpo', 'transpo_per_land_area']
X_census_age = ['pct_age_14below', 'pct_age_15_64', 'pct_age_65above']
X_census_origin = ['pct_birthplace_au', 'pct_birthplace_non_au']
X_census_educ = ['pct_educ_yr10above', 'pct_educ_yr9below']
X_census_marital_stat = ['pct_married', 'pct_single']
X_census_employment = ['unemployment_rate', 'lfpr', 'employment_rate']
X_census_educ_qual = ['pct_pgrad', 'pct_grad_cert_dip', 'pct_bach_deg', 'pct_adv_dip', 'pct_cert_iii_iv',
                      'pct_cert_i_ii', 'pct_others']
X_census_stats = ['median_age', 'median_weekly_pincome', 'median_weekly_fincome', 'median_weekly_hincome',
                  'ave_hhsize']

X_all_col = X_ntl+X_transpo_all+X_census_age+X_census_origin+X_census_educ+X_census_marital_stat+X_census_employment+X_census_educ_qual+X_census_stats

In [8]:
X = final17_c[X_all_col]

y = final17_c['s_median_sales']

print(X.shape)
print(y.shape)

(113, 29)
(113,)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(84, 29)
(84,)
(29, 29)
(29,)

In [10]:
# Method to choose best depth
dtr = DecisionTreeRegressor(random_state = 42)
param_grid = {'max_depth':np.arange(1,50)}
dtr_grid_cv = GridSearchCV(dtr, param_grid, cv = 10, scoring = 'r2')
dtr_grid_cv.fit(X_train, y_train)
print("best max depth para is: ", dtr_grid_cv.best_params_)
print("R2 = ", dtr_grid_cv.best_score_)

best max depth para is:  {'max_depth': 5}
R2 =  0.6932838308809042

C:\Users\Ashar\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [11]:
dtr = DecisionTreeRegressor(max_depth=5, random_state=143)

dtr.fit(X_train,y_train)

y_pre = dtr.predict(X_test)

print("rmse of max_depth=5: ", np.sqrt(mean_squared_error(y_test,y_pre)))
print("r2 of max_depth=5: ", r2_score(y_test,y_pre))

rmse of max_depth=5:  226.9744051486297
r2 of max_depth=5:  0.8441771822298191